.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.sizeme{
    height: 100px;
    width: 100px;
}
ul{
    display: flex;
    gap: 3rem;
}
.styleA{
    display: flex;
    justify-content: center;
    margin: 15px 0px;
}
body{
    font-size: 1.125rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.3;
}
.wrapper{
    width: min(900px,100%-3rem);
    margin-inline:auto;
}
table{
    margin: 0% 32%;
    width: 35%;
    text-align: center;
    border-collapse: collapse;
    background:#323232;
}
th,td{
    padding: 1rem;
}
th{
    text-align: center;
    border-bottom:solid 3.5px gray;
    background: hsl(0%, 0%, 0% /0.5);
}
tr:nth-of-type(2n){
background: hsl(0%, 0%, 0% /0.1);
}
.table-container{
    max-width:100%;
    overflow-x:auto;
}
footer {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media (max-width: 650px){
th{
    display: none;
}
    td{
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 15ch auto;
    padding: 0.5rem 1rem;
}
td:first-child{
    padding-top:2rem;
}
td:last-child{
    padding-bottom: 2rem;
}
td::before{
    font-weight: 700;
    text-transform: capitalize;
}
}